if (session.sip)
  div.sessionDetailMeta.bold sip
  dl.sessionDetailMeta(suffix="sip")
    +arrayList(session.sip, "sipmessage", "SIP Message", "sip.message")
    +arrayList(session.sip, "sipcallid", "SIP Call ID", "sip.callid")
    +arrayList(session.sip, "siprequests", "SIP Requests", "sip.requests")
    +arrayList(session.sip, "sipresponses", "SIP Responses", "sip.responses")
    +arrayList(session.sip, "sipvia", "SIP VIA", "sip.via")
    +arrayList(session.sip, "sipfrom", "SIP From", "sip.from")
    +arrayList(session.sip, "sipto", "SIP To", "sip.to")